@page "/Games"
@inherits DataManagerBase<RolePlayingGame>

<h3>Games</h3>

@if (Edit != null)
{
    <EditForm Model="Edit" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <div class="container-fluid">

            <div class="row mb-3">
                <div class="col-6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Name</RadzenText>
                    <RadzenTextBox @bind-Value="Edit.Name" class="w-100" />
                </div>
                <div class="col-6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Description</RadzenText>
                    <RadzenTextBox @bind-Value="Edit.Description" class="w-100" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Folder Path</RadzenText>
                    <RadzenTextBox @bind-Value="Edit.LocalPath" class="w-100" />
                </div>
            </div>

            <RadzenButton ButtonStyle="ButtonStyle.Success" Text="Save" ButtonType="ButtonType.Submit"></RadzenButton>
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="() => Edit = null"></RadzenButton>

            <ValidationSummary />
        </div>
        <hr class="my-3" />
    </EditForm>
}
<RadzenDataGrid Data="@Data" TItem="RolePlayingGame" AllowAlternatingRows="false" AllowSorting="true"
                PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
    <Columns>
        <RadzenDataGridColumn TItem="RolePlayingGame" Frozen="true" Width="155px" Sortable="false">
            <HeaderTemplate>
                @if (Edit == null)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Create" Click="() => Edit = new()"></RadzenButton>
                }
            </HeaderTemplate>
            <Template>
                @if (GameDataManager.LoadedGame?.Id == context.Id)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Unload" Click="() => Load(null)"></RadzenButton>
                }
                else
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Load" Click="() => Load(context)"></RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Edit" Click="() => Edit = context.Clone()"></RadzenButton>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="RolePlayingGame" Property="Name" Title="Name" Width="250px" />
        <RadzenDataGridColumn TItem="RolePlayingGame" Property="Description" Title="Description" Width="250px" />
        <RadzenDataGridColumn TItem="RolePlayingGame" Property="LocalPath" Title="Folder Path" />
    </Columns>
</RadzenDataGrid>

@code {
    void Load(RolePlayingGame? rpg)
    {
        GameDataManager.LoadGame(rpg);
        Edit = null;
    }
}
