@page "/Games"
@using System.ComponentModel.DataAnnotations
@using RpgLibrary

<h3>Games</h3>

<div class="container-fluid">
    @if (GameForm != null)
    {
        <div class="row">
            <div class="col-sm-6">

                <EditForm Model="GameForm" OnValidSubmit="SubmitForm">
                    <DataAnnotationsValidator />

                    <div class="form-label">Name:</div>
                    <InputText class="form-control" DisplayName="Name" @bind-Value="GameForm.Name"></InputText>

                    <div class="form-label mt-3">Description:</div>
                    <InputTextArea class="form-control" DisplayName="Description" @bind-Value="GameForm.Description"></InputTextArea>

                    <button class="btn btn-primary mt-3 mb-3" type="submit">Create</button>
                    <button class="btn btn-outline-secondary ml-2" type="button" @onclick="() => GameForm = null">Cancel</button>

                    <ValidationSummary />

                </EditForm>

            </div>
            <hr />
        </div>
    }
    <div class="row mt-3">
        <div class="col-sm-12 mb-3">
            @if (GameForm == null)
            {
                <button class="btn btn-primary" @onclick="() => GameForm = new()">Create New</button>
            }
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered table-primary table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rpg in RpgList)
                    {
                        <tr>
                            <td>@rpg.Name</td>
                            <td>@rpg.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    Form? GameForm { get; set; }
    List<RolePlayingGame> RpgList = new();

    void SubmitForm()
    {
        var rpg = new RolePlayingGame(GameForm.Name, GameForm.Description);
        RpgList.Add(rpg);
        GameForm = null;
    }

    class Form
    {
        [Required, StringLength(100, MinimumLength = 3)]
        public string Name { get; set; }
        [Required, StringLength(500, MinimumLength = 3)]
        public string Description { get; set; }
    }
}
