@page "/"

<h3>Game Data Editor</h3>
<h4>Built for the Eyes Of The Dragon tutorials</h4>

<ul>
    <li>
        <a href="https://cynthiamcmahon.ca/blog/monogame-tutorials/eyes-of-the-dragon-monogame-tutorials/">Tutorial Home Page</a>
    </li>
    <li>
        <a href="https://icon-sets.iconify.design/oi/">Open Iconic Icons</a>
    </li>
</ul>
